<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addFav()">
        <ion-icon slot="icon-only" name="{{icon}}"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Post creado por: {{detail.creator}}</ion-card-subtitle>
      <ion-card-title>{{detail.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{detail.content}}
    </ion-card-content>
  </ion-card>

</ion-content>
